@model string

<td style="width : 150px">
    <div class="btn-group">
        <!--Application Buttons-->
         <a asp-action="Details" asp-controller="Candidates" class="btn btn-success" asp-route-id="@Model"><i class="fa-solid fa-bars"></i></a>
    </div>
</td>

