@model int

<td style="width : 150px">
    <div class="btn-group">
        <!--Search Buttons-->
        <a asp-action="Details" asp-controller="Home" class="btn btn-outline-success" asp-route-id="@Model">Details</a>
    </div>
</td>

