@{
    ViewData["Title"] = "Create";
}
<br />

<h2 class="text-dark">Add New Role</h2>
<form asp-action="Create" method="post" id="role-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label>Role Name</label>
            </div>
            <div class="col-5">
                <input id="name" name="name" required="required" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function(){
            var exist = '@TempData["exist"]'
            if (exist != "") {
                // Extend existing 'alert' dialog
                if (!alertify.errorAlert) {
                    //define a new errorAlert base on alert
                    alertify.dialog('errorAlert', function factory() {
                        return {
                            build: function () {
                                var errorHeader = '<span class="fa fa-times-circle fa-2x" '
                                    + 'style="vertical-align:middle;color:#e10000;">'
                                    + '</span> Error';
                                this.setHeader(errorHeader);
                            }
                        };
                    }, true, 'alert');
                }
                //launch it.
                // since this was transient, we can launch another instance at the same time.
                alertify
                    .errorAlert(exist + "<br/><br/><br/>");
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#role-form").validate({
                rules: {
                    name: {
                        required: true,
                    }
                }
            });
        })
    </script>
}