@{
    ViewData["Title"] = "Edit";
}
<br />

<h2 class="text-dark">Edit Role</h2>
<form asp-action="Edit" method="post" id="role-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label>Role Name</label>
            </div>
            <input type="hidden" value="@ViewBag.id" name="id" />
            <div class="col-5">
                <input id="name" name="name" required="required" value="@ViewBag.name" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary edit" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

<div style="display:none" id="dialog-confirm" title="Edit Job Type">
    <p><span style="float:left;"></span><i class="fa-solid fa-triangle-exclamation"></i> Are you sure you want to edit Job Type?</p>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");}

<script language="javascript" type="text/javascript">

    var currentForm;
    $(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            autoOpen: false,
            buttons: {
                'Update': function () {
                    $(this).dialog('close');
                    currentForm.submit();
                },
                'Cancel': function () {
                    $(this).dialog('close');
                }
            }
        });
        $(".edit").click(function () {
            currentForm = $(this).closest('form');
            $("#dialog-confirm").dialog('open');
            return false;
        });
    });

</script>
}