@using JobSeek.Models;
@model IEnumerable<JobType>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-dark">Job Type List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-outline-dark"><i class="fa-solid fa-plus"></i>&nbsp; Job Product Type</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(expression: c => c.JobTypes)
            </th>
            <th></th>
            <th></th>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.JobTypes</td>
                <td>
                    <partial name="_JobTypeButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
        </table>
    </div>